.bgimg{
	background-image: url(love.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 795px;
	
}
.headerset{
	padding-top: 300px;
	box-sizing: border-box;
}
.headerset h2{
      font-size: 42px;
      color: #8D9ED9;
}
.headerset h1{
	font-size: 82px;
	font-weight: bold;
	color: #8D9ED9;
}
.ourservices{
	padding: 100px 0px 60px;
	height: 700px;
}
.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}
.rowsetting{
	margin: 80px 0px;
	margin-bottom: 0px;
}
.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.fa-shopping-cart{
	margin-top: 20px;
}
.fa-desktop{
	margin-top: 25px;
}
.fa-lock{
	margin-top: 25px;
}
.rowsetting h2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 30px;
}
.rowsetting p{
	padding: 10px;
	color: #6c757d!important;
}
.sujan{
	height:42.5vh;
	margin-bottom: 10px;
	
	/*min-height: 25vh;*/
}
.sujaa{
	height: 30vh;
	min-height: 30vh;
 }

 .footer,.page>a{
 	width: 100%;
 	text-align: center;
 	margin-top: 4px;
 	box-sizing: content-box;
 	background-color: black;

 	word-spacing: 2px;
 	text-underline-position: none;
 	color: white;


 } 
 .import>{
 	width: 100%;
 	text-align: left;
 	margin-right: 20px;
 	background-color: #f2f2f2;
 	margin-top: 10px;
 }
  	
   
 	


 .copyright{
 	text-align: center;
 	width: 100%;
 	background-color: black;
 	color: white;
 }   
